* {box-sizing: border-box;
    margin: 0;
    padding: 0;}

    
    .container {background-image: url(./images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    }
    
    .navbar {display: flex;
        padding: 20px;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 1px 3px 20px 2px rgba(0, 0, 0, .1) ;}
    
        .logo p {font-size: 2.5rem;
            font-weight: bold;
            color: rgba(0, 0, 0, .7);}
            
            .navbar p span {color: rgb(223, 159, 217);}
            
            
            .links ul li {list-style: none;}
            
            .links ul li a {text-decoration: none;
            margin: 20px;
            color: rgba(0, 0, 0, .7);
            font-weight: bold;}
    
            .container .text {max-width: 100%;
                width: 40%;
            }
            
            .text {display: flex;
            flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    padding-left: 50px;}

            .text h1 {font-size: 5rem;
            color: #333;
            margin-bottom: 10px;}
            
            .text h2 {font-size: 2rem;
            color: rgb(228, 109, 198);
            margin-bottom: 20px;}
            
            .text p {font-size: 1rem;
            font-weight: bold;
            color: rgba(0, 0, 0, .4);
            margin-bottom: 30px;}
            
            .text button {border-radius: 50px;
            padding: 10px;
            background-color: #333;
            color: white;
            font-weight: bold;
            font-size: 1rem;
            border: 1px solid #333;
            cursor: pointer;
            display: flex;
            justify-items: center;}


            .button {display: flex;
            justify-content: flex-end;}





.ctnabout h1 {display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(253, 237, 251);

}

.flex
{display: flex;
max-width: 100%;
justify-content: center;
align-items: center;
}

.left {max-width: 70%;}

.left video {max-width: 100%;
    width: 600px;}

.right {max-width: 30%;
    margin: 50px;
    align-self:  flex-start;}

    .right h2 {font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;}

    .right p {max-width: 100%;
        margin-bottom: 10px;}

    .right button {border-radius: 50px;
        padding: 10px 40px;
        background-color: #333;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        border: 1px solid #333;
        cursor: pointer;}

.info
{display: flex;
justify-content: center;
margin-top: 100px;
background-color: rgb(212, 212, 212);
padding: 20px;
max-width: 100%;}

.icon1 img, .icon2 img, .icon3 img, .icon4 img {width: 25%;
    max-width: 100%;}

.icon1, .icon2, .icon3, .icon4 {display: flex;
    background-color: rgb(238, 238, 238);
    align-items: center;
    margin: 1%;
    max-width: 100%;
    padding: 1rem;
}

.icontext1, .icontext2, .icontext3, .icontext4 {display: flex;
    flex-direction: column;
margin-left: 1%;
justify-content: center;
color: rgb(0, 0, 0);
max-width: 100%;
}

.products h1
{display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(253, 237, 251);}

.products h1 span {margin-left: 5px;
color: rgb(214, 110, 127);}

.firstrow {max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    }



.firstimg , .secondimg, .thirdimg{border: 2px  black;
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, .3);
max-width: 30%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.firstimg img, .secondimg img, .thirdimg img {max-width: 100%;
    width: 20rem;}

.firstimg h2, .secondimg h2, .thirdimg h2 {font-size: 2rem;
color: #333;}

.firstimg p, .secondimg p, .thirdimg p {font-size: 3rem;
color: rgb(241, 121, 225);
font-weight: bold;}

@media screen and (max-width: 768px) {

.links {display: none;}

.navbar {display: flex;
    justify-content: center;}

.logo p {display: flex;
font-size: calc(10vw + 1rem);}

.text {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 0;
    
}

.button {display: flex;
    justify-content: center;}

.text h1 {font-size: calc(10vw + 1rem);}

.text h2 {font-size: calc(5vw + 0.5rem);}

.firstimg img, .secondimg img, .thirdimg img {width: 6rem;}

.firstimg h2, .secondimg h2, .thirdimg h2 {font-size: 1rem;
color: #333;}

.firstimg p, .secondimg p, .thirdimg p {font-size: 1rem;
color: rgb(241, 121, 225);
font-weight: bold;}

.flex {display: flex;
flex-direction: column;
text-align: center;
align-self: center;
}


.right {margin: auto;
padding: 0;
text-align: center;}

.right p {font-size: 1rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.right button {margin-top: 20px;
    margin-left: -15px;
}



}

@media screen and (min-width: 0px) {
    .info {flex-wrap: wrap;
    padding: 0;
    ;}}


    

    






